#heroImage {
    background-image: url(/photos/photos_EmilyFeng/Chicken%20and%20Noodles.jpg);
}

/*-----------food pic table -----------*/

.foodpics {
    background-color: white;
    z-index: -1;
}

.foodTable {
    border-collapse: collapse;
    width: 100%;
    height: auto;
    table-layout: fixed
}

.foodTable td {
    padding: 4px;
    overflow: hidden;
    height: 100%;
}

.tableText div {
    height: 100%;
    display: flex;
    justify-content: center;
    /* align horizontal */
    align-items: center;
    /* align vertical */
    padding-left: 5px;
    text-align: center;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
}

.tableText{
    border: 1px solid rgba(0, 0, 0, 0.14);
}

.borderSpill {
    border-bottom: 1px solid white;
}

.foodTable img {
    width: 100%;
}

/*--- hover description ---*/
.imgContainer {
    position: relative;
    height: 100%;
    width: 100%;
}

.imgDescription {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    text-align: center;
}