/*large banner -------------------------*/

#heroImage {
    background-image: url(/photos/photos_EmilyChow/AngelsLanding.JPG);
}

.heroPicTitle {
    text-align: center;
    position: absolute;
    top: 100%;
    color: #ffffff;
    font-size: 20px;
    text-align: left;
    padding-left: 2%;
    font-family: 'Raleway', sans-serif;
}

/*-----General Large Image ------*/

.imageText {
    text-align: center;
    position: absolute;
    top: 70%;
    left: 5%;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
}

.imageText h1 {
    font-size: 80px
}

.imageText p {
    margin-top: -20px;
    font-size: 20px;
    text-align: left;
    padding-left: 10%;
}

.photoBreak {
    max-height: 100%;
    background-color: white;
}

.textContainer {
    max-width: 60%;
    margin: 0 auto;
    padding: 10px 0px;
}

.photoBreak p {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 10px;
    line-height: 20px;
    padding: 0 50px;
}


/*------------images ------*/

#image2 {
    background-image: url(/photos/photos_EmilyChow/LisbonStreets.jpg)
}

#image3 {
    background-image: url(/photos/photos_EmilyChow/Gangnam.jpg);
}
