/* Biography ------------------------------*/

.bio {
    max-height: 100%;
    background-color: white;
    padding-bottom: 10px;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px 0px;
}

.bio .col {
    margin-top: 10px;
    float: left;
    width: 33%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.bio .photo {
    height: 30%;
    border-radius: 10%;
}

.bio h2 {
    font-size: 1.75vw;
    margin-top: -5px;
}

.bio p {
    font-weight: 400;
    font-size: 0.85vw;
    line-height: 20px;
    padding: 0 50px;
    text-align: center;
}

.mediaContainer {
    padding-left: 10%;
    padding-right: 10%;
}

.mediaContainer p {
    text-align: left;
    font-size: 12px;
    line-height: 250%;
    font-size: 1vw;
}

.nameCol {
    padding-top: 3%;
    float: left;
    width: 50%;
    text-align: left;
    font-family: 'Raleway', sans-serif;
}

.iconCol {
    padding-top: 3.5%;
    float: right;
    width: 50%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
